<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
</head>
<h1>Welcome to the contact page</h1>
<body>
	
</body>
&copy All rights reserved to Serguei Kourokhtine.
</html>