<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h1>All contacts</h1>

<ul>
  <% $rolodex.contacts.each do |contact| %>
    <li><%= contact.first_name %> <%= contact.last_name %></li>
  <% end %>
</ul>
	<!-- <% %> will execute the method with output the result -->
<!-- <%= %> will execute the method without output the result -->
</body>
</html>