<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contacts</title>
</head>
<h1>All contacts</h1>
<body>
<ul>
  <% $rolodex.contacts.each do |contact| %>

    <li>Name: <%= contact.first_name %> <%= contact.last_name %></li>
  <% end %>
</ul>
	<!-- <% %> will execute the method with output the result -->
<!-- <%= %> will execute the method without output the result -->
</body>

</html>