<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contacts_New</title>
</head>
<h1>Create new contact</h1>
<p>This feature allows you to create a new contact. Then you can manage it and do
what ever you wish with it. No limits or what so ever.</p>
<form action="/contacts" method="post">
  First name
  <input type="text" name="first_name">
  Last Name
  <input type="text" name="last_name">
  Email
  <input type="text" name="email">
  Notes
  <input type="text" name="note">
  <input type="submit" name="Submit">
</form>
<body>
	
</body>
&copy All rights reserved to Serguei Kourokhtine.
</html>