<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contacts_New</title>
</head>

<body>
	<h1>Create new contact</h1>
	<p>This feature allows you to create a new contact. Then you can manage it and do
		what ever you wish with it. No limits or what so ever.</p>
	 
	 <form action="#">  
 <!--///////////////// TEXT FIELDS ///////////////////-->        
   <div class="field-group">
     <label for="first_name" class="label">First Name:</label>
     <div class="field">
       <input name="text1" id="id"  type="text"  value="" placeholder="Text field" required>
     </div>
   </div>

  <div class="field-group">
     <label for="last_name" class="label">Last Name:</label>
     <div class="field">
       <input name="text1" id="id"  type="text"  value="" placeholder="Text field" required>
     </div>
   </div>

   <div class="field-group">
     <label for="email1" class="label">Email:</label>
     <div class="field">
       <input name="email1" id="email1" type="email" spellcheck="false"  value="" placeholder="Email field" required> 
     </div>
   </div>

   <div class="field-group">
     <label for="textarea1" class="label">Description:</label>         
     <div class="field">
       <textarea id="textarea1" name="textarea1" spellcheck="true" rows="5" cols="50" placeholder="Textarea"></textarea>
     </div>
   </div>

    <div class="field-group">
     <div class="field">
       <input id="saveForm" name="saveForm" type="submit" value="Submit">
     </div>
   </div>








	<!-- 	<form action="/contacts" method="post">
			First name
			<input type="text" name="first_name">
			Last Name
			<input type="text" name="last_name">
			Email
			<input type="text" name="email">
			Notes
			<input type="text" name="note">
			<input type="submit" name="Submit">
		</form>	 -->
	</body>

	
	</html>