<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<h1>Welcome to <%= @crm_app_name%></h1>
<p>Main Menu</p>
<p>My way by sinatra...</p>
<ul>
<li><a href="/contacts">View all contacts</a></li>
<li><a href='/contacts/new'>Add a new contact</a></li>

</body>
</html>


