
<h1 class="h1_index"><%= @crm_app_name%></h1>

<p class="home">Hello!</p>
<h1>Welcome To My CRM</h1>

<div class="home-circle"></div>


<h2 class="hidden">Designed By</h2>
<span class="hidden">&amp</span>
<h2 class="hidden">Serguei K. {aka Ace}</h2>

<p>This is my very first app, which allows to created, edit, save and delete contacts.</p>

<p>Special thanks to <a href="https://bitmakerlabs.com/"> Bitmakerlabs</a>. My teachers, my cohort and the lab it self inspires me evryday. Code is new to me, code is hard!  I never coded before, but with hard work and ethusiams I am confident to achieve great results.</p>






