<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>

	<h1>Welcome to <%= @crm_app_name%></h1>

<p>Main Menu</p>

<ul>
<li><a href="/contacts">View all contacts</a></li>
<li><a href="/contacts_new">Add a new contact</a></li>

</body>
&copy All rights reserved to Serguei Kourokhtine.
</html>


